<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form>
            <input type="text" placeholder="Type your location...">
            <button type="submit">search</button>
        </form>
        <p id="location"></p>
        <p id="forecast"></p>
    </div>
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>